.footer {
  background-color: $dark0a0;

  .container {
    padding-top: 73px;
    padding-bottom: 73px;
    text-align: center;
  }

  &__logo {
    display: inline-block;
    margin: 0 0 30px 0;

    &:focus {
      outline: 2px solid red;
    }
  }

  &__descr {
    max-width: 530px;
    margin: 0 auto 62px auto;
    color: $grey787;
  }

  &__list {
    padding: 0;
    margin: 0 0 78px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 98px;
  }

  &__link {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.35rem;

    &:focus {
      outline: 2px solid red;
    }
  }

  &__social {
    margin: 0 0 52px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-social {
    padding: 0;

    &__item:not(:last-child) {
      margin-right: 40px;
    }

    &__link {
      &:hover {
        .footer-social__img path,
        .footer-social__img circle {
          fill: $blue003;
        }
      }

      &:focus {
        outline: 2px solid red;
      }
    }

    &__img path,
    &__img circle {
      fill: $white;
      transition: fill 0.2s ease-in-out;
    }
  }

  &__copyright {
    font-size: 0.9375rem;
    line-height: 1.125rem;
    letter-spacing: -0.2px;
    color: $grey787;
  }
}
