.header {
  .container {
    padding-top: 48px;
    max-width: 1710px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo:focus {
    outline: 2px solid red;
  }

  .burger {
    cursor: pointer;
    width: 45px;
    height: 35px;
    display: none;
    position: absolute;
    top: 50px;
    right: 15px;
    z-index: 1000;

    &__line {
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: $white;
      transition: 0.2s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translate(0, -50%);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }

    &.--active {
      .burger__line:nth-child(1) {
        top: 50%;
        transform: translate(0, -50%) rotate(45deg);
      }

      .burger__line:nth-child(2) {
        opacity: 0;
      }

      .burger__line:nth-child(3) {
        bottom: 50%;
        transform: translate(0, 50%) rotate(-45deg);
      }
    }
  }

  &-nav {
    &__list {
      display: flex;
      align-items: center;
    }

    &__item:not(:last-child) {
      margin-right: 60px;
    }

    &__link {
      font-weight: 500;
      font-size: 1.25rem;

      &:focus {
        outline: 2px solid red;
      }
    }
  }
}
