$ff-firaSans: FiraSans, Arial, "Helvetica Neue", Helvetica, sans-serif;
$white: #ffffff;
$blue003: #003adb;
$blue2b6: #2b61f7;
$blue8fc: #8fc2ff;
$dark0c1: #0c1117;
$dark111: #11161c;
$dark1b2: #1b2837;
$dark0a0: #0a0f14;
$dark2e2: #2e2e2e;
$dark0b0: #0b0f15;
$grey536: #536a82;
$grey787: #787878;
$grey727: #727272;
$greyb6b: #b6b6b6;
$greyd0d: #d0d0d0;
$grey9c9: #9c9898;
$greyf8f: #f8f9fa;
