@import "normalize", "mini-reset", "fonts", "vars", "header", "footer";

body {
  font-family: $ff-firaSans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: $white;
  background-color: $dark0c1;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.6rem;
}

.blue-btn {
  padding: 9px 25px;
  color: $white;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border: none;
  border-radius: 30px;
  background-color: $blue003;
  box-shadow: 0 10px 30px #406aff3d;
}

// hero
.hero {
  padding-top: 120px;
  padding-bottom: 204px;
  background: linear-gradient(
      180deg,
      rgba(12, 17, 23, 0) 34.25%,
      #0c1117 111.34%
    ),
    url("../assets/img/hero-img.png") 100% 130px no-repeat;

  &__content {
    max-width: 688px;
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 5.3125rem;
    line-height: 6.375rem;
  }

  &__descr {
    margin-bottom: 54px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 300;
  }
}

// what
.what {
  padding-bottom: 65px;

  &__title {
    margin-bottom: 78px;
    text-align: center;
  }

  &__list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
  }

  &-item {
    position: relative;
    padding: 37px 16px 112px 24px;
    overflow: hidden;
    background-color: $dark1b2;

    &:nth-child(1) {
      &::after {
        background-image: url("../assets/img/monitor.svg");
      }
    }

    &:nth-child(2) {
      &::after {
        background-image: url("../assets/img/web-page.svg");
      }
    }

    &:nth-child(3) {
      &::after {
        background-image: url("../assets/img/lattice.svg");
      }
    }

    &:nth-child(4) {
      &::after {
        background-image: url("../assets/img/crystal.svg");
      }
    }

    &:nth-child(5) {
      &::after {
        background-image: url("../assets/img/stats.svg");
      }
    }

    &:nth-child(6) {
      &::after {
        background-image: url("../assets/img/roller.svg");
      }
    }

    &::after {
      background-color: $blue003;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &:hover {
      &::after {
        bottom: -90px;
        right: -90px;
        width: 430px;
        height: 430px;
        border-radius: 50%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      width: 136px;
      height: 102px;
      border-radius: 69.5px 0px 4px 4px;
      transition: bottom 0.2s ease-in-out, right 0.2s ease-in-out,
        border-radius 0.2s ease-in-out, width 0.2s ease-in-out,
        height 0.2s ease-in-out;
    }

    &__content {
      position: relative;
      z-index: 2;
    }

    &__title {
      margin: 0 0 36px 0;
      font-weight: 800;
      font-size: 1.5rem;
      line-height: 1.8rem;
      text-transform: uppercase;
    }

    &__descr {
      margin: 0 0 36px 0;
    }

    &__link {
      font-weight: 500;
      text-decoration: underline;
      color: $greyf8f;
    }
  }

  &-card {
    grid-column: 3 / 5;
    padding-top: 50px;
    padding-left: 47px;

    &__content {
      max-width: 370px;
    }

    &__title {
      margin: 0 0 14px 0;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.86rem;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &__descr {
      margin: 0 0 30px 0;
      font-weight: 300;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

// works
.works {
  padding-top: 38px;
  padding-bottom: 200px;
  background-color: $dark0b0;

  &__title {
    margin: 0 0 80px 0;
  }

  &__list {
    padding: 0;
    display: grid;
    gap: 20px 25px;
  }

  &__list.--first {
    grid-template-columns: 1fr 2fr 1fr;
  }

  &__list.--second {
    grid-template-columns: 1.19fr 0.9fr 2.1fr;
  }

  &-item {
    &__img {
      border-radius: 4px;
    }

    &__title {
      margin: 0 0 26px 0;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.86rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &__descr {
      margin: 0 0 44px 0;
      font-weight: 300;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

// stats
.stats {
  background-color: $blue2b6;

  .container {
    max-width: 1340px;
    padding-top: 80px;
    padding-bottom: 90px;
  }

  &__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  &-item {
    max-width: 91px;

    &__title {
      margin: 0 0 9px 0;
      font-weight: 700;
      font-size: 3rem;
      line-height: 4.3025rem;
      letter-spacing: 1px;
    }

    &__descr {
      margin: 0;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2.145rem;
      text-transform: uppercase;
      color: $blue8fc;
    }
  }
}

// workers
.workers {
  padding-top: 122px;
  padding-bottom: 210px;

  &__swiper {
    &-container {
      position: relative;
      height: 517px;
      overflow: hidden;
    }
  }

  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-vertical.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 0 4px 12px !important;
  }

  .swiper-pagination-bullet {
    width: 2px !important;
    height: 83px !important;
    background: $white;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active {
    background: $blue003;
    box-shadow: 0px 2px 14px 0px #408cff3d;
  }

  &-slide {
    display: flex !important;
    gap: 77px !important;

    &__content {
      max-width: 668px;
      padding-top: 43px;
    }

    &__img {
      border-radius: 4px 90px 4px 4px;
    }

    &__title {
      margin: 0 0 35px 0;
      font-weight: 500;
      font-size: 3rem;
      line-height: 3.6rem;
    }

    &__subtitle {
      margin: 0 0 8px 0;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.8rem;
    }

    &__subsubtitle {
      margin: 0 0 16px 0;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.8rem;
      color: $grey727;
    }

    &__descr {
      font-weight: 300;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

// team
.team {
  padding-bottom: 152px;

  &__title {
    margin: 0 0 125px 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
  }

  &-col {
    display: flex;
    overflow: hidden;
    min-height: 510px;
    border-radius: 4px;
    cursor: pointer;

    &:nth-child(1) {
      background: url("../assets/img/team-img1.jpg");
    }

    &:nth-child(2) {
      background: url("../assets/img/team-img1.jpg");
    }

    &:nth-child(3) {
      background: url("../assets/img/team-img2.jpg");
    }

    &:nth-child(4) {
      background: url("../assets/img/team-img3.jpg");
    }

    &:hover &__content {
      transform: translate(0, 0);
    }

    &__content {
      display: flex;
      flex-direction: column;
      padding: 56px 30px 24px;
      text-align: center;
      flex: 1;
      background-color: $blue2b6;
      transform: translate(0, 100%);
      transition: transform 0.2s ease-in-out;
    }

    &__title {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.8rem;
    }

    &__subtitle {
      margin-top: 0;
      margin-bottom: 62px;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 3.6rem;
    }

    &__descr {
      flex: 1;
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__item:not(:last-child) {
      margin-right: 40px;
    }
  }
}

// blog
.blog {
  padding-bottom: 155px;

  &__title {
    margin: 0 0 80px 0;
    text-align: center;
  }

  &__list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;
  }

  &-item {
    position: relative;
    padding: 24px 22px;
    background-color: $dark111;
    border-radius: 0 90px 0 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 9px;
      background-color: $blue003;
      box-shadow: 0px 3px 12px 0px #4081ff3d;
      transition: height 0.2s ease-in-out;
      z-index: 1;
    }

    &:hover {
      &::after {
        height: 70%;
      }

      .blog-item__descr {
        color: $white;
      }
    }

    &__inner {
      position: relative;
      z-index: 2;
    }

    &__content {
      padding: 6px 10px 13px 9px;
    }

    &__img {
      max-height: 415px;
      border-radius: 4px 90px 4px 4px;

      &-block {
        position: relative;
        margin: 0 0 24px 0;
        line-height: 0;
      }
    }

    &__category {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 16px 42px 16px 24px;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.35rem;
      background-color: $blue003;
      border-radius: 0 69.5px 4px 4px;
      box-shadow: 0px 10px 29px 0px #4081ff3d;
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 11px 0;
      color: $grey727;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.35rem;
    }

    &__count-view {
      margin: 0;
    }

    &__title {
      margin: 0 0 11px 0;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.8rem;
      color: $greyd0d;
    }

    &__descr {
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 1.75rem;
      color: $grey9c9;
    }
  }
}

// faq
.faq {
  padding-bottom: 210px;

  .accordions {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .accordion {
    outline: 1px solid transparent;

    &.--active {
      outline-color: $blue003;

      .accordion__img {
        transform: rotate(180deg);
      }

      .accordion__img path {
        fill: $blue003;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px;
      width: 100%;
      text-align: left;
      color: $white;
      font-weight: 800;
      font-size: 1.5rem;
      line-height: 1.8rem;
      text-transform: uppercase;
      border: none;
      border-radius: 4px;
      background-color: $dark111;
    }

    &__img {
      transition: transform 0.2s ease-in-out;

      path {
        fill: $white;
        transition: fill 0.1s ease-in-out;
      }
    }

    &__content {
      max-height: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
      background-color: $dark1b2;
      transition: max-height 0.3s ease-in-out, padding-top 0.3s ease-in-out,
        padding-bottom 0.3s ease-in-out;

      &.--active {
        max-height: 1000px;
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }

    &__descr {
      margin: 0;
    }
  }
}

// clients
.clients {
  background-color: $dark0a0;

  .container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  &__title {
    margin: 0 0 20px 0;
  }

  &__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}

// contact
.contact {
  padding-top: 134px;
  padding-bottom: 94px;

  &__title {
    margin: 0 0 123px 0;
    text-align: center;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 271px;
  }

  &-form {
    padding: 0 0 0 13px;
    max-width: 586px;

    &__control {
      margin: 0 0 25px 0;

      &.--last {
        margin: 0 0 60px 0;
      }
    }

    &__label {
      display: block;
      margin: 0 0 17px 0;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.35rem;
    }

    &__el {
      width: 100%;
      padding: 11px 9px;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.35rem;
      color: $white;
      border: none;
      border-bottom: 1px solid $grey536;
      background-color: transparent;

      &::placeholder {
        color: $dark2e2;
      }
    }

    &__textarea {
      height: 90px;
      resize: none;
    }
  }

  &-address {
    padding: 24px 0 0 12px;
    display: flex;
    flex-direction: column;
    gap: 52px;

    &__img {
      display: inline-block;
      margin-right: 15px;
    }

    &__title {
      display: flex;
      align-items: center;
      margin: 0 0 26px 0;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.35rem;
      font-style: normal;
    }

    &__content {
      padding-left: 39px;
    }

    .tel-list {
      padding: 0;

      &__item {
        font-style: normal;

        &:not(:last-child) {
          margin-bottom: 11px;
        }
      }

      &__text {
        margin: 0 29px 0 0;
        display: inline-block;
      }

      &__btn {
        padding: 2px 40px;
      }
    }

    &__text {
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.35rem;
      color: $greyb6b;
      font-style: normal;
    }
  }
}
